#input-dialog {
	display: none;
	position: fixed;
	z-index: 1001;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(20,20,20,0.5);
	justify-content: center;
	align-items: center;

	.content {
		background-color: #DDD;
		margin: 10% auto;
		padding: 20px;
		border: 1px solid #888;
		width: 90%;
		max-width: 300px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	}

	.message {
		margin-bottom: 20px;
		font-size: 1.1em;
		color: #333;
	}

	.text-input {
		margin-right: 5px;
		padding: 6px 10px;
		font-family: "Open Sans", sans-serif;
		font-size: 1.15em;
		border: 1px solid grey;
		border-radius: 5px;
		color: #333;
		background-color: #BBB;
		width: 300px;
		box-sizing: border-box; /* Ensure padding doesn't affect width */
		transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	}

	.buttons-wrapper {
		text-align: right;
	}

	.buttons {
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 20px;
	}

	.ok-button, .cancel-button {
		padding: 10px 20px;
		margin-left: 10px;
		font-size: 1.15em;
		padding: 0.3em 0.5em;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	.ok-button {
		color: #DDD;
		background-color: #0C448B;
	}

	.ok-button:hover {
		background-color: #115FC2;
	}

	.cancel-button{
		color: #333;
		background-color: #CCC;
	}

	.cancel-button:hover {
		background-color: #EEE;
	}
}
