body {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100vh;
	color: #ACABAB;
	background: #192837;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align: left;
	font-size: 0.875em;
    line-height: 1.6em;
	padding-bottom: 20vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: #ACABAB;
	text-decoration: underline dotted;
	text-decoration-thickness: 1px;
	text-decoration-color: #636D78;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #EEE;
	font-family: "Garamond", serif;
}

h2 {
	color: #EEE;
}

.text-button {
	padding: 2px 5px;
	outline: none;
	background-color: rgba(0, 96, 223, 0.5);
	color: white;
	border-radius: 5px;
	font-size: 16px;
}

.text-button:hover {
	background-color: rgba(0, 96, 223, 0.7);
}

.eye {
	border: 0px solid #0060DF;
	border-radius: 10px;
	cursor: default;
	padding: 0 1px;
	background-color: #ACABAB;
	opacity: 0.3;
}

.enabled .eye {
	background-color: #0060DF;
	opacity: 1;
}

.expanded .eye {
	background-color: #0060DF;
	opacity: 1;
}

.toggle-button {
	margin: 0 2px;
	border-radius: 5px;
	border: 1px solid grey;
	background-color: #14212D;
	padding: 0 4px;
	cursor: default;
	white-space: nowrap;

	> *:not(:nth-child(1)) {
		margin-left: 2px;
	}
}

.toggle-button.fully-enabled {
	background-color: #0D3460;
}

#TOC {
    line-height: 1.2em;
	display: flex;

	ol {
		list-style: none;
		padding-left: 0;
	}

	ul {
		list-style: none;
		padding-left: 1.5em;
	}

	ul > li {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		opacity: 0.5;

		> *:not(:nth-child(1)) {
			margin-left: 10px;
		}
	}

	li.active {
		opacity: 1;
	}
}

.progress {
	margin: 1px;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 0 2px;
}

.started .progress {
	border: 1px solid orange;
}

.completed .progress {
	border: 1px solid green;
}

fieldset {
	display: flex;
	border: none;
}

.filter {
	position: relative;

	.subfilters {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;
		position: absolute;
		z-index: 1000;
	}
}

#table {
	min-height: 50vh;
}

.header {
	color: #EEE;
	padding: 0.75em 0;
	margin: 0.5em 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	opacity: 0.3;

	> * {
		margin-left: 0.5em;
	}

	> .title {
		font-size: 2em;
	}
}

.expanded > .header {
	opacity: 1;
}

.meta-container > .header {
	justify-content: center;
}

.container > .header {
	background-color: #14212D;
}

.content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: max-height 0.2s ease-out;

	.tip {
		border: 1px solid #606A73;
		border-radius: 5px;
		padding: 8px;
		text-align: center;
		margin: 0 auto 0.5em;
	}
}

.entry {
	display: flex;
	flex-direction: row;
	padding: 3px 5px 0;
	gap: 5px;
	margin-left: 3em;

	.checkbox, .title, .desc {
		padding-top: 1em;
	}

	.title {
		width: 150px;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.coordinates {
		font-family: 'Linux Libertine','Times New Roman',serif;
		text-shadow: 1px 1px 2px #000,-1px -1px 2px #000;
		color: #AB9F89;
		background: #34323285;
		border-radius: 5px;
		padding: 3px 5px;
		box-shadow: 1px 1px 5px #00000030;
		white-space: nowrap;
	}
}

.entry.top-tier {
	background: #193847;
}

.entry.completed {
	opacity: 0.5;
	text-decoration: line-through;
	background: none;
}

.entry.uncommon {
	img {
		background-image: linear-gradient(to bottom, rgba(1, 189, 57, 0.2), rgba(1, 189, 57, 0.0));
	}
	.title a {
		color: #01bd39;
	}
}

.entry.rare {
	img {
		background-image: linear-gradient(to bottom, rgba(1, 191, 255, 0.2), rgba(1, 191, 255, 0.0));
	}
	.title a {
		color: #01bfff;
	}
}

.entry.very-rare {
	img {
		background-image: linear-gradient(to bottom, rgba(209, 1, 123, 0.2), rgba(209, 1, 123, 0.0));
	}
	.title a {
		color: #d1017b;
	}
}

.entry.legendary {
	img {
		background-image: linear-gradient(to bottom, rgba(183, 134, 29, 0.2), rgba(183, 134, 29, 0.0));
	}
	.title a {
		color: #b7861d;
	}
}

.entry.story {
	img {
		background-image: linear-gradient(to bottom, rgba(255, 160, 55, 0.2), rgba(255, 160, 55, 0.0));
	}
	.title a {
		color: #ffa037;
	}
}

#back-to-top {
	padding: 10px;
	visibility: hidden;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	border: none;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.search-input-wrapper {
    position: relative;
    display: inline-block;

	.search-input {
		padding: 5px 10px;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		border: 1px solid grey;
		border-radius: 5px;
		color: #EEE;
		background-color: #14212D;
		width: 300px;
		box-sizing: border-box; /* Ensure padding doesn't affect width */
		transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	}

	.search-input::placeholder {
		color: #999;
		opacity: 0.8;
	}

	.search-input:focus {
		outline: none;
		border-color: #007bff;
		box-shadow: 0 0 5px rgba(0, 96, 223, 0.5);
	}

	.search-input:not(:placeholder-shown) {
		background-color: #0D3460;
	}

	.clear-button {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		background: none;
		border: none;
		cursor: pointer;
		font-size: 14px;
		color: #BBB;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	.search-input:not(:placeholder-shown) + .clear-button {
		opacity: 1;
	}

	.clear-button:hover {
		color: #999;
	}
}

.hidden {
	display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently
	                              supported by Chrome, Edge, Opera and Firefox */
}
